mat-toolbar {
    background-color:rgb(37, 242, 10) !important;
    border-bottom: solid 3px rgb(18,18,18);
    box-shadow: 0px 10px 14px 2px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    section.logo-container {
        display: flex;
        align-items: center;
        background-color: black;
        border: solid 1px white;
        border-radius: 25px;
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        article.image-container {
            width: 38px !important;
            border-radius: 50%;
            border: solid 2px black;
            overflow: hidden;
            background: white;
            padding-top: 6px;
            padding-left: 3px;
            padding-right: 3px;
            img {
                max-width: 100%;
            }
            
        }
        span.logo-text {
            font-size: 16px;
            color: white;
            margin-left: 9px;
        }
    }
    

    section.unauthenticated {
        display: flex;
        flex-direction: row;
    }
}
mat-toolbar button {
    color: rgb(70, 70, 70);
}
