failed to get console mode for stdout: Controlador no v├ílido.
--
-- PostgreSQL database cluster dump
--

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE peludosclick;




--
-- Drop roles
--

DROP ROLE "Silvestre1993";
DROP ROLE mendoariel;
DROP ROLE postgres;


--
-- Roles
--

CREATE ROLE "Silvestre1993";
ALTER ROLE "Silvestre1993" WITH SUPERUSER INHERIT NOCREATEROLE NOCREATEDB LOGIN NOREPLICATION NOBYPASSRLS PASSWORD 'md55aabe6be0f95458f9dc93790c8521465';
CREATE ROLE mendoariel;
ALTER ROLE mendoariel WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'md583d7c29c4397f2caff04cb54155c1edb';
CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS;






--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 12.22 (Debian 12.22-1.pgdg120+1)
-- Dumped by pg_dump version 12.22 (Debian 12.22-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: mendoariel
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LC_COLLATE = 'en_US.utf8' LC_CTYPE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO mendoariel;

\connect template1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: mendoariel
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: mendoariel
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\connect template1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: mendoariel
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

--
-- Database "peludosclick" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 12.22 (Debian 12.22-1.pgdg120+1)
-- Dumped by pg_dump version 12.22 (Debian 12.22-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: peludosclick; Type: DATABASE; Schema: -; Owner: mendoariel
--

CREATE DATABASE peludosclick WITH TEMPLATE = template0 ENCODING = 'UTF8' LC_COLLATE = 'en_US.utf8' LC_CTYPE = 'en_US.utf8';


ALTER DATABASE peludosclick OWNER TO mendoariel;

\connect peludosclick

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: MedalState; Type: TYPE; Schema: public; Owner: mendoariel
--

CREATE TYPE public."MedalState" AS ENUM (
    'VIRGIN',
    'ENABLED',
    'DISABLED',
    'DEAD',
    'REGISTER_PROCESS',
    'PENDING_CONFIRMATION',
    'INCOMPLETE',
    'REGISTERED'
);


ALTER TYPE public."MedalState" OWNER TO mendoariel;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: mendoariel
--

CREATE TYPE public."Role" AS ENUM (
    'VISITOR',
    'FRIAS_EDITOR',
    'REGISTER'
);


ALTER TYPE public."Role" OWNER TO mendoariel;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: mendoariel
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'PENDING',
    'DISABLED'
);


ALTER TYPE public."UserStatus" OWNER TO mendoariel;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: mendoariel
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO mendoariel;

--
-- Name: medals; Type: TABLE; Schema: public; Owner: mendoariel
--

CREATE TABLE public.medals (
    id integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "ownerId" integer NOT NULL,
    status public."MedalState" NOT NULL,
    image text,
    description text,
    medal_string text NOT NULL,
    pet_name text NOT NULL,
    register_hash text NOT NULL
);


ALTER TABLE public.medals OWNER TO mendoariel;

--
-- Name: medals_id_seq; Type: SEQUENCE; Schema: public; Owner: mendoariel
--

CREATE SEQUENCE public.medals_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.medals_id_seq OWNER TO mendoariel;

--
-- Name: medals_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mendoariel
--

ALTER SEQUENCE public.medals_id_seq OWNED BY public.medals.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: mendoariel
--

CREATE TABLE public.users (
    id integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    email text NOT NULL,
    hash text NOT NULL,
    "hashedRt" text,
    username text,
    role public."Role" NOT NULL,
    "hashPasswordRecovery" text,
    "userStatus" public."UserStatus" NOT NULL,
    hash_to_register text NOT NULL,
    phonenumber text
);


ALTER TABLE public.users OWNER TO mendoariel;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: mendoariel
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO mendoariel;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mendoariel
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: virgin_medals; Type: TABLE; Schema: public; Owner: mendoariel
--

CREATE TABLE public.virgin_medals (
    id integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone,
    status public."MedalState" NOT NULL,
    medal_string text NOT NULL,
    register_hash text NOT NULL
);


ALTER TABLE public.virgin_medals OWNER TO mendoariel;

--
-- Name: virgin_medals_id_seq; Type: SEQUENCE; Schema: public; Owner: mendoariel
--

CREATE SEQUENCE public.virgin_medals_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.virgin_medals_id_seq OWNER TO mendoariel;

--
-- Name: virgin_medals_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mendoariel
--

ALTER SEQUENCE public.virgin_medals_id_seq OWNED BY public.virgin_medals.id;


--
-- Name: medals id; Type: DEFAULT; Schema: public; Owner: mendoariel
--

ALTER TABLE ONLY public.medals ALTER COLUMN id SET DEFAULT nextval('public.medals_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: mendoariel
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: virgin_medals id; Type: DEFAULT; Schema: public; Owner: mendoariel
--

ALTER TABLE ONLY public.virgin_medals ALTER COLUMN id SET DEFAULT nextval('public.virgin_medals_id_seq'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: mendoariel
--

INSERT INTO public._prisma_migrations VALUES ('41ef7d7a-e2ad-4cf1-9e90-6c5fbe539b1b', 'e4dc2e7923f88bd05bc0b80859d5603eeae8f22d2e3d7cc4e541622f365c87ca', '2025-03-11 18:26:50.38469+00', '20250212125507_add_status_registered_for_medals', NULL, NULL, '2025-03-11 18:26:50.375797+00', 1);
INSERT INTO public._prisma_migrations VALUES ('e80ec86e-822f-4cc0-b1ed-a31e5fd9108d', '0f5fe52e5b4e4e09826457806407c4930a7e68d33ed4dafa6e6d3fdbb8da101a', '2025-03-11 18:26:49.648448+00', '20240523202948_first', NULL, NULL, '2025-03-11 18:26:49.615103+00', 1);
INSERT INTO public._prisma_migrations VALUES ('b93ce63b-a306-4923-9902-333c998fbe1c', 'c9f7bb1edc78fa1d18b98b27be73c2d4b93a109f8f7b1cd675159a865298d6a2', '2025-03-11 18:26:49.963298+00', '20250205222948_update', NULL, NULL, '2025-03-11 18:26:49.952099+00', 1);


--
-- Data for Name: medals; Type: TABLE DATA; Schema: public; Owner: mendoariel
--

INSERT INTO public.medals VALUES (2, '2025-03-04 01:01:09.304', '2025-03-04 01:03:55.396', 2, 'ENABLED', 'secrectScreenshot_20250303-220346.Fotos.png', NULL, 'celeste', 'Silvestre', '6s2h438u4k1abfosmyfrgicd1d7dkue5qfs2');
INSERT INTO public.medals VALUES (1, '2025-03-04 00:25:32.841', '2025-03-21 22:14:41.232', 1, 'ENABLED', 'secrectIMG-20250301-WA0000.jpg', 'Perra del barrio bancario', 'rosa_mosqueta', 'Rosa Mosqueta', 'czddiglfpeyukzsejxazd03b4a5r26wunyt5');
INSERT INTO public.medals VALUES (15, '2025-03-15 21:55:51.341', '2025-03-15 22:25:51.16', 15, 'ENABLED', 'secrectsecrectwolf.jpg', 'Soy una loba', 'pamela', 'Pamela', 'pfwlq1x8wvdqpbi56haqis86j9qk4xh47i6z');


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: mendoariel
--

INSERT INTO public.users VALUES (2, '2025-03-04 01:01:09.304', '2025-03-21 22:14:41.216', 'Ara.frazetto@gmail.com', '$2a$10$scT7hAKFNyPbsbPa3ZExGODiyL9iumZcamLADvGVviYLuuiYQuAK6', '$2a$10$V8VzO/o2VGrXGS9lz4jAcuKwv6OpijwAVJ0xUp1uva51QaTljmGVy', NULL, 'VISITOR', NULL, 'ACTIVE', '5g36ncsemusmvb0gdc3jv3cjizde02tnh6sn', '2615919372');
INSERT INTO public.users VALUES (15, '2025-03-15 21:55:51.341', '2025-03-21 23:27:18.133', 'mendoariel@gmail.com', '$2a$10$JTrZHfRJDb2TJ/z3yixZbuwXJYDdCNajIcHUQoOfOLYgyxdW/TJIu', NULL, NULL, 'VISITOR', NULL, 'ACTIVE', 'ipwvgcwfb0cxlm5awft2zclfv3kjq98kw7nj', '2615919372');
INSERT INTO public.users VALUES (1, '2025-03-04 00:25:32.841', '2025-03-24 18:22:09.403', 'mendoariel@hotmail.com', '$2a$10$gJ4nJ8NvfydkVJX4Y0XV1ehCVybeuAwWPNZ.jcJlT6WY9/eOk.Z/q', '$2a$10$eOWcn8xA2vagpdNtC9G1puH0jIwvtZw3PFb48v/GYAkmeqYTnXM7i', NULL, 'VISITOR', NULL, 'ACTIVE', '4nvdw7yw5t3omgno21roy7rk2mx6py6do5t0', '2615919372');


--
-- Data for Name: virgin_medals; Type: TABLE DATA; Schema: public; Owner: mendoariel
--

INSERT INTO public.virgin_medals VALUES (13, '2025-03-10 15:28:05.338', NULL, 'VIRGIN', '09871hhxuw78u7n9g3kzlgoxntv2dkag8pp3', 'genesis');
INSERT INTO public.virgin_medals VALUES (14, '2025-03-10 15:28:05.341', NULL, 'VIRGIN', 'ps2m5c7zuhwcfpnk6uevsafkiuxu791oxfwy', 'genesis');
INSERT INTO public.virgin_medals VALUES (15, '2025-03-10 15:28:05.342', NULL, 'VIRGIN', 'kbkp5db65hhpt432mas5u88dj0iub3h6jdvt', 'genesis');


--
-- Name: medals_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mendoariel
--

SELECT pg_catalog.setval('public.medals_id_seq', 21, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mendoariel
--

SELECT pg_catalog.setval('public.users_id_seq', 15, true);


--
-- Name: virgin_medals_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mendoariel
--

SELECT pg_catalog.setval('public.virgin_medals_id_seq', 77, true);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: mendoariel
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: medals medals_pkey; Type: CONSTRAINT; Schema: public; Owner: mendoariel
--

ALTER TABLE ONLY public.medals
    ADD CONSTRAINT medals_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: mendoariel
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: virgin_medals virgin_medals_pkey; Type: CONSTRAINT; Schema: public; Owner: mendoariel
--

ALTER TABLE ONLY public.virgin_medals
    ADD CONSTRAINT virgin_medals_pkey PRIMARY KEY (id);


--
-- Name: medals_medal_string_key; Type: INDEX; Schema: public; Owner: mendoariel
--

CREATE UNIQUE INDEX medals_medal_string_key ON public.medals USING btree (medal_string);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: mendoariel
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: virgin_medals_medal_string_key; Type: INDEX; Schema: public; Owner: mendoariel
--

CREATE UNIQUE INDEX virgin_medals_medal_string_key ON public.virgin_medals USING btree (medal_string);


--
-- Name: medals medals_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mendoariel
--

ALTER TABLE ONLY public.medals
    ADD CONSTRAINT "medals_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 12.22 (Debian 12.22-1.pgdg120+1)
-- Dumped by pg_dump version 12.22 (Debian 12.22-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: mendoariel
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LC_COLLATE = 'en_US.utf8' LC_CTYPE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO mendoariel;

\connect postgres

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: mendoariel
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database cluster dump complete
--

