<app-first-navbar></app-first-navbar>
<main>
  <section class="spinner" *ngIf="spinner">
    <h1>{{ spinnerMessage }}</h1>
    <mat-spinner></mat-spinner>
  </section>
  <section class="main-content" *ngIf="!spinner">
      <h3>Formulario mi mascota</h3>
      <mat-card  class="example-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{ myPet.medals[0].petName }}</mat-card-title>
            </mat-card-header>
            
            <div *ngIf="!myPet.medals[0].image" class="image-container">
              <mat-icon class="image">pets</mat-icon>
              <div class="input-file-container">
                <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
                <button (click)="fileInput.click()" style="margin-left: auto;" mat-raised-button color="primary">
                  <mat-icon>upload_file</mat-icon>
                  {{ textButton }}
                </button>
              </div>
            </div>


            <div *ngIf="myPet.medals[0].image" class="image-container">
              <img mat-card-image [src]="env.perrosQrApi + 'pets/files/' + myPet.medals[0].image" alt="Foto mascota">
              <div style="margin-top: 1.2em; text-align: right; width: 100%;">
                <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
                  <button (click)="fileInput.click()" style="margin-left: auto; margin-right:2em;" mat-raised-button color="primary">
                    <mat-icon>upload_file</mat-icon>
                    Cambiar Imagen
                  </button>
              </div>
            </div>

            <mat-card-content>
              <form [formGroup]="petForm">
                <h2>Cargar información</h2>
                <mat-form-field>
                  <mat-label>Teléfono:</mat-label>
                  <input matInput formControlName="phoneNumber"  placeholder="Ej 02615551515"> 
                  <mat-error *ngIf="phoneNumber?.hasError('required')">Ingrese teléfono</mat-error>
                  <mat-error *ngIf="phoneNumber?.hasError('minlength')">Mínimo de 9 caracteres</mat-error>
                  <mat-error *ngIf="phoneNumber?.hasError('maxlength')">Máximo de 15 caracteres</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Descripción:</mat-label>
                  <textarea matInput placeholder="Descripción de la mascota" formControlName="description"></textarea>
                  <mat-error *ngIf="description?.hasError('required')">Ingrese usuario</mat-error>
                  <mat-error *ngIf="description?.hasError('minlength')">Mínimo de 9 caracteres</mat-error>
                  <mat-error *ngIf="description?.hasError('maxlength')">Máximo de 150 caracteres</mat-error>
                </mat-form-field>
                <div class="button-container">
                  <button  [disabled]="petForm.invalid || !myPet.medals[0].image" mat-raised-button (click)="updatePet()">Guardar</button>
                </div>
              </form>
            </mat-card-content>

      </mat-card>
  </section>
</main>