section.main-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('/assets/pic_1900/filo-01.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    section.container-box {
        margin-top: 2.4em;
        padding-left: 2em;
        // display: flex;
        // flex-wrap: wrap;
        background: rgba(255, 255, 255, 0.65);
        margin-left: 2em;
        margin-right: 2em;
        border-radius: 10px;
        padding: 1.4em;
        article {
            background: white;
            color: black;
            padding: 1em;
            border: solid 1px white;
            border-radius: 4px;
            margin: 0.5em;
        }
        mat-card {
            margin-right: 1em;
        }
    }
    div.alfa {
        height: 66vh;
        // border: yellowgreen 1px solid;
        width: 100%;
        h1 {
            text-align: center;
            text-transform: capitalize;
            font-size: 4em;
            margin: 0;
            padding: 0;
            margin-top: 1em;
            font-weight: bolder;
            letter-spacing: .09em;
        }
    }
    div.beta {
        
        height: 33vh;
        // border: solid 1px skyblue;
        width: 100%;
        section.container-box {
            // background: rgba(255, 255, 255, .3);
        }
        h2 {
            text-transform: capitalize;
            color: white;
            text-align: center;
            font-size: 4em;
            margin: 0;
            margin-top: 1em;
            padding: 0;
            font-weight: bolder;
            letter-spacing: .05em;
        }
        
    }
}
@media only screen and (orientation: landscape) {
    section.main-box {
        flex-direction: row !important;
    }
    section.container-box {
        background: rgba(0, 0, 0, 0.3) !important;
    }
    div.alfa {
        width: 67% !important;
        // border: rgb(205, 50, 177) 1px solid  !important;
        height: 100vh!important;
       
    }
    div.beta {
        width: 33% !important;
        // border: solid 1px skyblue !important;
        height: 100vh !important;
        header h2 {
            color: black !important;
            font-size: 4em !important;

        }
    }
}