version: "3.8"

networks:
  web:
    external: true
  internal:
    external: false

volumes:
  postgres_data:
    name: postgres_data_peludosclick

services:
  peludosclick_frontend_service:
    container_name: angular-frontend
    build:
      dockerfile: production.Dockerfile
      context: ./frontend
      target: production
    mem_limit: 3g
    volumes:
      - ./frontend:/alberto/frontend/src/app
      - /alberto/src/app/node_modules
    ports:
      - "9002:9002"
    command: npm run serve:ssr
    environment:
      - BACKEND_HOST=peludosclickbackend
      - BACKEND_PORT=3335
    labels:
      - traefik.http.routers.peludosclick_frontend_service.rule=Host(`www.peludosclick.com`,`peludosclick.com`)
      - traefik.http.routers.peludosclick_frontend_service.tls=true
      - traefik.http.routers.peludosclick_frontend_service.tls.certresolver=lets-encrypt
      - traefik.port=9002
      - traefik.http.services.peludosclick_frontend_service.loadbalancer.server.port=9002
      - traefik.http.middlewares.peludosclick_frontend_timeout.headers.customrequestheaders.X-Forwarded-Proto=https
      - traefik.http.routers.peludosclick_frontend_service.middlewares=peludosclick_frontend_timeout
    networks:
      - internal
      - web
  
  peludosclick_backend:
    build: 
      context: ./backend-vlad
      dockerfile: production-dist.Dockerfile
      target: production
    container_name: peludosclickbackend
    volumes:
      - ./backend-vlad/dist:/alberto/backend/src/app/dist
      - ./backend-vlad/public:/alberto/backend/src/app/public
    command: node dist/src/main.js
    ports:
      - '3335:3335'
    depends_on: 
      - postgres
    env_file: "./backend-vlad/.my-env-production"
    labels:
      - traefik.http.routers.peludosclick_backend.rule=Host(`api.peludosclick.com`)
      - traefik.http.routers.peludosclick_backend.tls=true
      - traefik.http.routers.peludosclick_backend.tls.certresolver=lets-encrypt
      - traefik.port=3335
      - traefik.http.routers.peludosclick_backend_api.rule=Host(`peludosclick.com`) && PathPrefix(`/api`)
      - traefik.http.routers.peludosclick_backend_api.tls=true
      - traefik.http.routers.peludosclick_backend_api.tls.certresolver=lets-encrypt
      - traefik.http.routers.peludosclick_backend_api.service=peludosclick_backend
      - traefik.http.routers.peludosclick_backend_images.rule=Host(`peludosclick.com`) && PathPrefix(`/images`)
      - traefik.http.routers.peludosclick_backend_images.tls=true
      - traefik.http.routers.peludosclick_backend_images.tls.certresolver=lets-encrypt
      - traefik.http.routers.peludosclick_backend_images.service=peludosclick_backend
      - traefik.http.routers.peludosclick_backend_pets.rule=Host(`peludosclick.com`) && PathPrefix(`/pets`)
      - traefik.http.routers.peludosclick_backend_pets.tls=true
      - traefik.http.routers.peludosclick_backend_pets.tls.certresolver=lets-encrypt
      - traefik.http.routers.peludosclick_backend_pets.service=peludosclick_backend
    networks:
      - internal
      - web
  # Our Postgres Database for NestJS to connect to
  postgres:
    image: postgres:10.4
    environment:
      POSTGRES_USER: Silvestre1993
      POSTGRES_PASSWORD: iendlshLANDHG423423480
      POSTGRES_DB: peludosclick
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    labels:
      - traefik.enable=true
    networks:
      - internal
      - web
    restart: always

  # The Postgres Admin tool if we want to run some custom queries and so on against our Database
  postgresadmin:
    image: dpage/pgadmin4:4.28
    depends_on: 
       - postgres
    environment:
      PGADMIN_DEFAULT_EMAIL: albertdesarrolloweb@gmail.com
      PGADMIN_DEFAULT_PASSWORD: Yamaha600
    ports:
      - 5050:5050
    labels:
      - traefik.http.routers.postgresadmin.rule=Host(`pgadmin.peludosclick.com`)
      - traefik.http.routers.postgresadmin.tls=true
      - traefik.http.routers.postgresadmin.tls.certresolver=lets-encrypt
      - traefik.port=5050
    networks:
      - internal
      - web

  # Add this new service
  backup:
    build:
      context: ./backups
      dockerfile: Dockerfile
    environment:
      - TZ=America/Argentina/Buenos_Aires
    volumes:
      - ./backups:/var/backups/peludosclick
      - ./backups/logs:/var/log/peludosclick
    depends_on:
      - postgres
    networks:
      - internal
    restart: always
