<div class="get-medal-container">
  <div class="medal-content">
    <div class="medal-info">
      <mat-icon>emoji_events</mat-icon>
      <h3>Obtén tu Medalla QR</h3>
      <p>Registra a tu mascota y obtén una medalla con código QR para su identificación</p>
    </div>
    
    <div class="medal-features">
      <div class="feature">
        <mat-icon>qr_code</mat-icon>
        <span>Código QR único</span>
      </div>
      
      <div class="feature">
        <mat-icon>security</mat-icon>
        <span>Información segura</span>
      </div>
      
      <div class="feature">
        <mat-icon>phone</mat-icon>
        <span>Contacto directo</span>
      </div>
    </div>
    
    <button mat-raised-button color="primary" class="register-button">
      Registrar Mascota
    </button>
  </div>
</div>
