
<header style="
    background-color:rgb(211,239,250);
    color:  rgb(18,18,18);
    padding-top: 2em;
    padding-bottom: 1.4em;
    font-size: 1.5em;
    align-text: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
">
    <h1>Peludosclick</h1>
</header>
<main>
    <section class="content">
        <h1>Le pedimos confirmar la medalla, para terminar la cargar de su mascota</h1>
        <p>Segui este link para terminar de confirmar tu mascota</p>
        <div class="link-container" style="margin-top: 2em; margin-bottom: 3em;">
            <a href="{{ url }}">Confirmar cuenta</a>
        </div>
    </section>
    <footer style="
        background-color: rgb(18,18,18);
        color:  rgb(211,239,250) !important;
        padding-top: 4em;
        padding-bottom: 7em;
        font-size: 1.3 !important;
        margin-left: auto;
        margin-right: auto;
    ">
        www.peludosclick.com
    </footer>
</main>