app-register {
    width: 100%;
}

mat-toolbar {
    background: var(--color-auth-gradient) !important;
    color: white !important;
    border-bottom: solid 3px var(--color-auth-start);
    box-shadow: 0px 10px 14px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;

    button {
        color: white;
    }

    section {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-auth-gradient);
    background-position: center;
    
    section.form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        form {
            padding: 1.5em;
            display: flex;
            flex-direction: column;
            text-align: center;
            max-width: 500px;
            min-width: 250px;
            border: 1px solid grey;
            border-radius: 4px;
            height: 100%;
            justify-content: center;
            margin-top: 2em;
            margin-bottom: 7em;
            background: white;
            box-shadow: 1px 1px 12px 4px rgba(200,200,200, 0.7);
            section.form-elements-container {
                display: flex;
                flex-direction: column;

            }
            mat-error {
                font-size: 1.2em;
            }
            section.validation {
                display: flex;
                flex-direction: column;
                align-items: start;
                
                p.information {
                    color: grey;
                }
                p.success {
                    color: green;
                }
                p.fail {
                    color: red;
                }
            }
        }
    }
    
}

