<mat-toolbar>
    <button (click)="goHome()" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
    </button>
    <section>
        <span>Bici Árbol</span>
    </section>
</mat-toolbar>
<main>
    <section>
        <form [formGroup]="passwordRecoveryForm">
            <h2>Ingrese el email de su cuenta</h2>
            <mat-form-field class="example-full-width">
                <mat-label>Email:</mat-label>
                <input matInput placeholder="Ingresar email" formControlName="email">
                <mat-error *ngIf="email?.hasError('email')">Ingrese email válido</mat-error>
                <mat-error *ngIf="email?.hasError('required')">Ingrese email</mat-error>
            </mat-form-field>
           
            
            <button [disabled]="passwordRecoveryForm.invalid" type="submit" mat-raised-button (click)="passwordRecovery()">Recuperar</button>

            
        </form>
    </section>
</main>

