<section class="zone-container">
    <h1>Las zonas del Frias</h1>
    <img src="assets/frias_zones/macro-mapa-frias-3-zone.png" alt="las zonas del frias">
    <p>El Frias se pueden reconocer 3 grandes zonas, El Frias alto, 
        El Frias Sur, y el Frias Central.
    </p>
    
    <h3>El Frias Alto o Oeste</h3>
    <p>Se puede decir que tiene una forma triangular, en el
        que la base sería a la altura de el puesto la Cieniguita, y 
        los que sería donde termina la fovorita, de ahí hacia el Oeste
        es decir en subida sería lo que se considera el Frias Alto.
    </p>
    <h3>El Frias Sur</h3>
    <p>Esta compuesto por lo que sería la contiunaicón natural 
        del Dique, haciendo una murulla para que el agua no pase, 
        y va acompañado por lo que sería el Río Frias Sur.
    </p>

    <h3>El Frias Sur</h3>
    <p>Esta compuesto por lo que sería la contiunaicón natural 
        del Dique, haciendo una murulla para que el agua no pase, 
        y va acompañado por lo que sería el Río Frias Sur.
    </p>
</section>