<main>
  <section class="spinner" *ngIf="spinner">
    <h1>{{ spinnerMessage }}</h1>
    <mat-spinner></mat-spinner>
  </section>
  <section class="main-content" *ngIf="!spinner">
    <div *ngIf="myPet" class="pelu-card" appearance="outlined">
      <h1>{{ myPet?.petName || 'Sin nombre' }}</h1>
      <div class="image-container" [style.background]="myPet.background"></div>
      <div class="info-container">
        <h3>Descripción:</h3>
        <p>{{ myPet.description }}</p>
        <h3>Telefono:</h3>
        <p>{{ myPet.phone }}</p>
      </div>
      


      <div class="action-container">
        <div class="logo">
          <div class="button wame-button">
            <button mat-raised-button color="primary" (click)="goToPetForm(myPet.medalString)">Editar</button>
          </div>
        </div>
        <div class="logo">
          <div class="button call-button">
            <button mat-raised-button color="accent" (click)="goToMyPets()">Salir</button>
          </div>
        </div>
      </div>
      
     

      
    </div>
  </section>
</main>