<main>
  <section class="spinner" *ngIf="spinner">
    <h1>{{ spinnerMessage }}</h1>
    <mat-spinner></mat-spinner>
  </section>
  <section class="main-content" *ngIf="!spinner">
    <div *ngIf="pet" class="pelu-card" appearance="outlined">
      <h1>{{ pet?.petName || 'Sin nombre' }}</h1>
      <div class="image-container" [style.background]="pet.background"></div>
      <p style="margin-top: 5px; padding: 1em;">{{ pet.description }}</p>
      
      <!-- <div class="connection">
        <h3>Conectar con mi familia</h3>
        <div class="info-message">
          <p>Si piensas que estoy perdido puedes conectar con mis dueños</p>
        </div>
        <div class="action-container">
          <div class="logo">
            <div class="button wame-button">
              <img class="wame-logo" src="assets/icons/wame-logo.png" alt="whatsapp logo">
              <a [href]="pet.wame">Whatsapp</a>
            </div>
          </div>
          <div class="logo">
            <div class="button call-button">
              <mat-icon>phone</mat-icon>
              <a [href]="pet.tel">Llamar</a>
            </div>
          </div>
        </div>
      </div> -->
      
      
      <div class="share-buttons">
        <h3>Compartir</h3>
        <div *ngIf="spinner" class="share-loading">
          <mat-spinner diameter="30"></mat-spinner>
          <p>Cargando opciones para compartir...</p>
        </div>
        <share-buttons *ngIf="!spinner"
          theme="circles-dark"
          [include]="['copy', 'facebook','telegram', 'whatsapp']"
          [showIcon]="true" 
          [showText]="false" 
          [url]="'https://peludosclick.com/mascota-publica/' + medalString" 
          [title]="(pet?.petName || 'Sin nombre') + ' - PeludosClick'"
          [description]="pet.description"
          [image]="pet.background"
          class="pt-5">
        </share-buttons>
      </div>

</div>
</section>
</main>