<main>
  <section class="spinner" *ngIf="spinner">
    <div class="loading-content">
      <div class="loading-spinner">
        <svg class="spinner" viewBox="0 0 50 50">
          <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
        </svg>
      </div>
      <h3>{{ spinnerMessage }}</h3>
    </div>
  </section>
  
  <section class="main-content" *ngIf="!spinner">
    <div *ngIf="pet" class="pelu-card">
      <h1>{{ pet?.petName || 'Sin nombre' }}</h1>
      <div class="image-container">
        <img 
          [src]="petImageUrl" 
          [alt]="pet?.petName || 'Mascota'"
          class="pet-image"
        />
      </div>
      <p class="pet-description">{{ pet.description }}</p>
      
      <div class="share-buttons">
        <h3>Compartir</h3>
        <div *ngIf="spinner" class="share-loading">
          <div class="loading-spinner">
            <svg class="spinner" viewBox="0 0 50 50">
              <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
          </div>
          <p>Cargando opciones para compartir...</p>
        </div>
        <share-buttons *ngIf="!spinner"
          theme="circles-dark"
          [include]="['copy', 'facebook','telegram', 'whatsapp']"
          [showIcon]="true" 
          [showText]="false" 
          [url]="'https://peludosclick.com/mascota-publica/' + medalString" 
          [title]="(pet?.petName || 'Sin nombre') + ' - PeludosClick'"
          [description]="pet.description"
          [image]="petImageUrl"
          class="share-buttons-container">
        </share-buttons>
      </div>
    </div>
  </section>
</main>