<main>
  <section class="main-content">
    <div *ngIf="pet" class="pelu-card">
      <h1>{{ pet?.petName || 'Sin nombre' }}</h1>
      <div class="image-container">
        <img 
          [src]="petImageUrl" 
          [alt]="pet?.petName || 'Mascota'"
          class="pet-image"
          (error)="onImageError($event)"
        />
      </div>
      <p class="pet-description">{{ pet.description }}</p>
      
      <div class="share-buttons">
        <h3>Compartir</h3>
        <share-buttons
          theme="circles-dark"
          [include]="['copy', 'facebook','telegram', 'whatsapp']"
          [showIcon]="true" 
          [showText]="false" 
          [url]="'https://peludosclick.com/mascota-publica/' + medalString" 
          [title]="(pet?.petName || 'Sin nombre') + ' - PeludosClick'"
          [description]="pet.description"
          [image]="petImageUrl"
          class="share-buttons-container">
        </share-buttons>
      </div>
    </div>
  </section>
</main>