<main>
  <app-first-navbar style="width: 100%;"></app-first-navbar>
    <section class="portland-frias">
        <div class="header">
            <h1>Frias Bike Park</h1>
        </div>
    </section>  
  <app-frias-zones></app-frias-zones>
  <app-where-is-it></app-where-is-it>
  <div class="frias-bike-park">
    <div class="death-things">
        <section class="rivers">
            <h2>Rios</h2>
            <img src="assets/frias/rivers/pink-river.JPG" alt="pink river">
            <p>Los Rios son los protognistas principales del Frias, por ellos viene el agua que contiene el Dique.</p>
        </section>
        <section class="little-hills">
            <h2>Cerritos</h2>
            <img src="assets/frias/little-hills/little-hill-01.JPG" alt="one litthe hill">
            <p>Las mejores vistas se consiguen en la cima de ellos.</p>
        </section>
           <section class="waterfalls">
            <h2>Cascadas</h2>
            <img src="assets/frias/waterfalls/eden-waterfall.JPG" alt="eden waterfall">
            <p>Las cascadas interrumpen el transito, ya que no todas ellas se pueden subir, dependeiendo su altura e inclinación.</p>
        </section>
        <section class="edges">
    
        </section>
        <section class="paths">
    
        </section>
        <section class="crossroad">
        </section>
    </div>
    <div class="living-things">
        <div class="riders">
            <div class="bikers">
    
            </div>
            <div class="motor-bikers">
    
            </div>
            <div class="hockeys">
    
            </div>
        </div>
        <div class="runners">
           
        </div>
        <div class="fauna">
    
        </div>
        <div class="flora">
    
        </div>
      </div>
  </div>
  

  
</main>


<!-- <h1>El Frias Bike Park</h1>

<p>El Frias en un Dique de contención aluvial, que da nombre 
    a unos de los mejore Bike Park que pudes concebir. 
    Tiene muchos senderos, seguro alguna vez escuchaste Los
    Senderos del Frías, o Los Senderos del Dique Frías.
</p>

<p>El Frias hes visitado a diario, principalmente por motos, 
    y bicicletas, las motos llevan mucho tiempo recorriendo 
    el Frias, formando nuevos senderos, y bautizando lugares.

</p>

<p>El mountain bike hizo lo suyo, aunque ya lleva muchos años,
    llego despues que las motos.  Hoy el mountain bike lleva la
    delantera en el Frias, lo que más se puede ver son grupos 
    de ciclistas.
</p>

<p>Se podría decir que los recién llegados al Frias son 
    los vehículos electricos como bicis y motos eléctricas 
    y los runners.

</p>

 -->
