main {
    display: flex;
    flex-direction: column;
    section.portland-frias {
        background-color: white;
        border: solid 1px red;
    }
    div.death-things {
        background-color: white;
        padding: 1em;
        img {
            max-width: 100%;
        }
    }
}