<div class="pet-shops-container">
  <div class="shop-content">
    <div class="shop-item">
      <mat-icon>pets</mat-icon>
      <h3>Productos para Mascotas</h3>
      <p>Encuentra todo lo que necesitas para tu mascota</p>
    </div>
    
    <div class="shop-item">
      <mat-icon>local_shipping</mat-icon>
      <h3>Envío Gratis</h3>
      <p>En pedidos superiores a $50</p>
    </div>
    
    <div class="shop-item">
      <mat-icon>star</mat-icon>
      <h3>Calidad Garantizada</h3>
      <p>Productos de la mejor calidad</p>
    </div>
  </div>
</div>
