<section class="main-box">
  <div class="alfa">
    <header>
      <h1>Bici</h1>
    </header>
   <section class="container-box">
    <article *ngFor="let boxData of bici">
      <app-ba-element-box [element]="boxData"></app-ba-element-box>
    </article>
   </section>
   
  </div>
  <div class="beta">
    <header>
      <h2>Árbol</h2>
    </header>
    <section class="container-box">
      <article class="container-box" *ngFor="let boxArbol of arbol">
        <app-ba-element-box [element]="boxArbol"></app-ba-element-box>
      </article>
    </section>
    
  </div>
</section>
