<main>
    <app-first-navbar></app-first-navbar>
    <section class="main-content" *ngIf="pets.length > 0">
        <h1>Manten tu mascota conectada con QR</h1>
        <div class="pets-container">
          <mat-card *ngFor="let pet of pets"  appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{ pet.petName }}</mat-card-title>
            </mat-card-header>
            <div class="image-container" [style.background]="pet.background">
              <!-- <img mat-card-image [src]="imagePath + pet.image" alt="Foto de Rosa Mosqueta"> -->
            </div>
          </mat-card>
        </div>
    </section>
</main>
