main {
    background-color: darkgreen;
    min-height: 100vh;
    section.main-content {
        border: 1px solid grey;
        padding: 1em;
        margin: 1em;
        background-color: white;
        mat-card {
            max-width: 300px;
        }
    }

}

