main {
    background-color: darkgreen;
    section.main-content {
        border: 1px solid grey;
        background-color: #ccc;
        padding-bottom: 3em;
        max-width: 800px;
        margin: auto;
        h1 {
            font-weight: 450;
            font-size: 1.2em;
            background: white;
            margin-bottom: 0;
            padding-top: 1em;
            padding: 1.3em 1em 1em;
        }
        section.peludosclick {
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;
            border: solid 5px #eee;
            display: flex;
            flex-direction: column;
            article.image-container {
                margin: 0;
                padding: 0;
                img {
                    max-width: 100%;
                    margin-bottom: -10px;
                }
            }
            article.info-container {
                p {
                    background: white;
                    padding: 1.2em 0.5em 2em 1em;
                    margin: 0;
                }
            }
        }
        section.main-header {
            display: flex;
            border-bottom: 2px solid grey;
            padding-bottom: .3em;
            margin-bottom: 1.4em;
            div.header-image-container {
                max-width: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-right: 2px grey solid;
                img {
                    max-width: 100%;
                }
            }
            div.info-text-container {
                margin-left: .3em;
                p {
                    text-indent: .5em;
                    padding: .2em;
                    border-bottom: 1px solid #ddd;
                    padding-bottom: .5em;
                    line-height: 1.4em;
                }
            }

        }
        h3 {
            background: #83ff93;
            text-align: center;
            border-top: 1px solid #58e882;
            border-bottom: 1px solid #58e882;;
            padding-top: 1em;
            padding-bottom: 1em;
            margin-bottom: 2em;
            margin-top: 2em;
            font-weight: 100;
        }
        div.pets-container {
            display: flex;
            width: 100%;
            flex-direction: column;
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
           
            section.pelu-card {
                padding: 0;
                display: flex;
                flex-direction: column;
                margin-bottom: 1em;
                border: solid 3px #d6efdb;
                h2 {
                    font-size: 1.1em;
                    font-weight: 400;
                    padding-left: .5em;
                    padding-top: .6em;
                    background: black;
                    color: white;
                    margin: 0;
                    padding: 1.4em 1em .5em 1em;
                    text-align: center;

                }
                article.info {
                    p {
                        margin: 0;
                        font-size: .8em;
                        font-weight: 300;
                        background: white;
                        padding: 2em 1em 3em 1.3em;
                    }
                   
                }
                article.image {
                    div.image-container {
                        width: 100%;
                        height: 250px;
                        background-repeat: no-repeat !important;
                        background-size: cover !important;
                        background-position: center center !important;
                        img {
                            max-width: 100%;
                        }
                    }
                }
                
            }
        }
        
    }
   

}

