<section class="main-container">
    <mat-toolbar>
        <button (click)="goHome()" mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <section>
            <span>PeludosClick</span>
        </section>
        
    </mat-toolbar>
    <main>
        <section class="spinner" *ngIf="spinner">
            <h1>{{ spinnerMessage }}</h1>
            <mat-spinner></mat-spinner>
        </section>
        <section *ngIf="!spinner">
            <section *ngIf="!addPet" class="form-container">
                <form [formGroup]="registerForm">
                    <section class="form-elements-container">
                        <h2>Resgistrar Medalla</h2>
                        <article *ngIf="validationDoIt">
                            <p>Vas a registrar tu medalla en la cuenta {{ ownerEmail?.value }}</p>
                        </article>
                        <article class="fields-box-container" *ngIf="!validationDoIt">
                            <p>Ingresar email para registrar su cuenta</p>
                            <mat-form-field>
                                <mat-label>Email:</mat-label>
                                <input matInput placeholder="Ingresar email" formControlName="ownerEmail">
                                <mat-error *ngIf="ownerEmail?.hasError('email') && (ownerEmail?.dirty || ownerEmail?.touched)">Ingrese email válido</mat-error>
                                <mat-error *ngIf="ownerEmail?.hasError('required')">Ingrese email</mat-error>
                            </mat-form-field>

                            <div class="email-button-container" *ngIf="!validationDoIt">
                                <button [disabled]="ownerEmail && ownerEmail.invalid" (click)="emailValidate()" mat-raised-button>Validar</button>
                            </div>
                        </article>

                        <article *ngIf="validationDoIt" class="fields-box-container">
                            <mat-form-field>
                                <mat-label>Nombre de la mascota:</mat-label>
                                <input matInput placeholder="Nombre de la mascota" formControlName="petName">
                                <mat-error *ngIf="petName?.hasError('required')">Ingrese usuario</mat-error>
                                <mat-error *ngIf="petName?.hasError('minlength')">Mínimo de 3 caracteres</mat-error>
                                <mat-error *ngIf="petName?.hasError('maxlength')">Máximo de 15 caracteres</mat-error>
                            </mat-form-field>
                            
                            <mat-form-field *ngIf="newClient">
                                <mat-label>Password:</mat-label>
                                <button mat-icon-button matSuffix (click)="visibilityToggle()">
                                    <mat-icon>{{getVisibility()}}</mat-icon>
                                </button>
                                <input [type]="getInputType()" matInput placeholder="Ingresar password" formControlName="password">
                            </mat-form-field>
    
                            <section class="validation" *ngIf="newClient">
                                <p [ngClass]="
                                    password?.value.length === 0 ? 'information' : password?.hasError('minlength') ? 'fail' : 'success'" >
                                    <mat-icon style="margin-bottom: -7px; margin-right: 7px;">
                                       {{  getIconToMinLength() }}
                                    </mat-icon>
                                    Mínmio 8 caractares
                                </p>
                                <p [ngClass]="
                                    this.password?.value.length === 0 ? 'information' : this.password?.hasError('maxlength') ? 'fail' : 'success'" >
                                    <mat-icon style="margin-bottom: -7px; margin-right: 7px;">
                                       {{  getIconToMaxLength() }}
                                    </mat-icon>
                                    Máximo 50 caracteres
                                </p>
                                <p [ngClass]="
                                    this.password?.value.length === 0 ? 'information' : this.password?.hasError('capitalLetterError') ? 'fail' : 'success'" >
                                    <mat-icon style="margin-bottom: -7px; margin-right: 7px;">
                                       {{  getIconUpperCase() }}
                                    </mat-icon>
                                    Debe contener mayúscula
                                </p>
                                <p [ngClass]="
                                    this.password?.value.length === 0 ? 'information' : this.password?.hasError('lowerCaseError') ? 'fail' : 'success'" >
                                    <mat-icon style="margin-bottom: -7px; margin-right: 7px;">
                                       {{  getIconLowerCase() }}
                                    </mat-icon>
                                    Debe contener minúscula
                                </p>
                                <p [ngClass]="
                                    this.password?.value.length === 0 ? 'information' : this.password?.hasError('numberError') ? 'fail' : 'success'" >
                                    <mat-icon style="margin-bottom: -7px; margin-right: 7px;">
                                       {{  getIconNumber() }}
                                    </mat-icon>
                                    Debe contenern al menos un número
                                </p>
                            </section>
    
                            <mat-form-field class="example-full-width" *ngIf="newClient">
                                <mat-label>Confirmación de password:</mat-label>
                                <button mat-icon-button matSuffix (click)="visibilityTogglePasswordConfirm()">
                                    <mat-icon>{{getVisibilityPasswordConfirm()}}</mat-icon>
                                </button>
                                <input matInput placeholder="Confirmar password" formControlName="passwordConfirm" [type]="getInputTypePasswordConfirm()">
                            </mat-form-field>
    
                            <section class="validation" *ngIf="newClient">
                                <p *ngIf="this.passwordConfirm?.value.length > 0 && this.registerForm.hasError('passwordConfirmedError') ? 'fail' : null" class="fail">
                                    <mat-icon style="margin-bottom: -7px; margin-right: 7px;">
                                       cancel
                                    </mat-icon>
                                    Los password no coinciden
                                </p>
                            </section>
    
                            <button [disabled]="registerForm.invalid" mat-raised-button (click)="register()">Guardar</button>
                        </article>

                        <button style="margin-top: 1em;" (click)="cancelMethod()" *ngIf="validationDoIt" color="warn" mat-raised-button>Cancelar</button>
                    </section>
                   
                </form>
            </section>
            <section *ngIf="registeredMedal" class="confirm-container">
                <section class="info-container">
                    <h2>Cuenta penditente
                    </h2>
                    <p>{{ registeredMedal.text }}</p>
                   
                </section>
            </section>
        </section>
    </main>
</section>

