<footer>
    <section class="footer">
        <article class="image-container">
            <img src="assets/main/social-media.jpeg" alt="social media into">
        </article>
        <article class="media-container">
            <div>
                <span>Instagram: </span><a target="_blank" href="https://www.instagram.com/peludosclick/">@peludosClick</a>
            </div>
            <div>
                <span>email: info@peludosclick.com</span>
            </div>
        </article>
    </section>
    
</footer>


