footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: black 2px solid;
    background: #001809;
    padding-top: 100px;
    padding-bottom: 100px;

    section.footer {
        display: flex;
    }

    img {
        width: 200px;
    }

    article.media-container {
        margin-left: 15px;

        div {
            margin-top: 1.3em;
        }

        span {
            color: white;
            margin-top: 1.5em;
        }

        a {
            color: #a8a8db;
        }
    }
}