<app-first-navbar></app-first-navbar>
<main>
  <section class="spinner" *ngIf="spinner">
    <h1>{{ spinnerMessage }}</h1>
    <mat-spinner></mat-spinner>
  </section>
  <section class="main-content" *ngIf="!spinner">
    <div *ngIf="pet" class="pelu-card" appearance="outlined">
      <h1>{{ pet.petName }}</h1>
      <div class="image-container" [style.background]="pet.background"></div>
      <p style="margin-top: 5px;">{{ pet.description }}</p>
      <div class="action-container">
        <div class="logo">
          <div class="button wame-button">
            <img class="wame-logo" src="assets/icons/wame-logo.png" alt="whatsapp logo">
            <a [href]="pet.wame">Whatsapp</a>
          </div>
        </div>
        <div class="logo">
          <div class="button call-button">
            <mat-icon>phone</mat-icon>
            <a [href]="pet.tel">Llamar</a>
          </div>
        </div>
      </div>
      
     

      
    </div>
  </section>
</main>